<ion-menu [content]="content" [swipeEnabled]="false">
    <!-- <ion-header *ngIf="auth.getUserData()" menuClose (click)="nav.push('ProfilePage')">       -->
    <ion-header menuClose (click)="nav.push('ProfilePage')">
        <div class="menu-header"> 
            <img class="user-avatar round" src = "https://pbs.twimg.com/profile_images/834457277830541312/bYMCvtHD.jpg"/>
            <p class="name">test00</p>
            <p class="email">description</p>
        </div>

    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item menuClose *ngFor="let item of menuItems" (click)="openPage(item)">{{ item.name }}</button>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-nav #content swipeBackEnabled="false" [root]="rootPage"></ion-nav>
